NEXT_PUBLIC_APP_URL=https://localhost:3000
NEXT_PUBLIC_CHAIN_ID=43113
NEXT_PUBLIC_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
DEPLOYER_PRIVATE_KEY=
SNOWTRACE_API_KEY=
NEXT_PUBLIC_ESCROW_FACTORY=a
NEXT_PUBLIC_DNZD_TOKEN=0xd00ae08403b9bbb9124bb305c09058e32c39a48c
NEXT_PUBLIC_DNZD_TOKEN_DECIMALS=18
NEXT_PUBLIC_USDC_TOKEN=0x5425890298aed601595a70ab815c96711a31bc65
NEXT_PUBLIC_USDC_TOKEN_DECIMALS=6
NEXT_PUBLIC_PRIVY_APP_ID=cmodunomw00zb0djjh12p9czx
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=561ae8dc3ecbb3bc624565cac4532ec2
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzNzQwNmQ4ZS1lODA0LTRjYjYtYWViMC0wMzcyZWFhZGI1NjkiLCJlbWFpbCI6ImhhaGF5ZXMubm90aGFua3lvdUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiNWJmZGMyZTc3MzYwODAzNzFjYzMiLCJzY29wZWRLZXlTZWNyZXQiOiJlZGJhYTBiMTJkYTNiNzMxZWIxZjJiN2U1ZTQyMDM5NDcwMzY1MTMwMTg1YjRlNWNlMjA1MjNhYmFjMTgwNGRjIiwiZXhwIjoxODA4NjMyMjA3fQ.wtqX_FUVnK8FBLROZUE7i7Z0SVHE6VVLoY-WhJjfL3U
RESEND_API_KEY=re_L8HNtyy3_CUZgUvdnrRRX2EPybr2p8kTB
EMAIL_FROM=mail@dealseal.nz
DATABASE_URL=file:./data/app.db
SESSION_SECRET=9f1faaf98f903af26e6792cc542cd9782f36e493c8a5b653fd41115227d7dc8f
